
@{
    ViewData["Title"] = "Login";
}

@model LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container">

        <div class="innerwrapper">
            <h2>login</h2>
            <div asp-validation-summary="ModelOnly"></div>
            <form asp-action="Login" asp-controller="Account" method="post">

                <input type="email" asp-for="Email" name="" id="email" placeholder="Email">
                <input type="password" asp-for="Password" name="" id="password" placeholder="Password">
                <input type="checkbox" name="" id="checkbox">
                <p id="remember">Remember me</p>
                <input type="submit" value="Login" id="submit">

            </form>
        </div>

    </div>

</body>
</html>

